<ul>
    <li>
        <b>chrome1280x800</b>

        <ul>
            <li>
                <b>Home.png</b>
                <img src="reference/chrome1280x800/Home.png">
                <img src="regression/chrome1280x800/Home.png">
                <img src="compare/chrome1280x800/Home.png">
            </li>
        </ul>
    </li>
</ul>
<ul>
    <li>
        <b>chrome400x800</b>

        <ul>
            <li>
                <b>Home.png</b>
                <img src="reference/chrome400x800/Home.png">
                <img src="regression/chrome400x800/Home.png">
                <img src="compare/chrome400x800/Home.png">
            </li>
        </ul>
    </li>
</ul>
